<%- include('header') %>
<%- include('topbar') %> 

<style>
body {
    background-color: #eee;
}

.org-logo {
    width: 5em;
    height: 5em;
    background: white;
    border: 1px solid lightgrey;
    border-radius: 20%;
    cursor: pointer;
}

main {
    margin: 1em;
}

#org-container {
    display: flex;
    overflow-x: auto;
    gap: 0.5em
}

.see-more {
    display: flex;
    width: 5em;
    height: 5em;
    background: white;
    border: 1px solid #d3d3d3;
    border-radius: 20%;
    cursor: pointer;
}

.section-link {
    color: black;
}

.more-logo {
    margin: 1em;
}

.info-container {
    display: flex;
    flex-direction: column;
}

.info:first-child {
    border-radius: 5px 5px 0 0;
}

.info:last-child {
    border-radius: 0 0 5px 5px;
}

.info {
    padding: 0.6em;
    border: 1px solid lightgray;
    background: white;
}

.info:not(:last-child) {
    border-bottom: none;
}

.info-name {
    text-transform: capitalize;
    font-weight: 600;
}

</style>

<main>
    <section class="app-section">
        <a class="section-link" href="/apps"><h2>Apps</h2></a>
        <div id="org-container">
            <% clients.forEach((approvedClient, i) => { %>
                <% if (i < 4) { %> 
                    <a href="/dashboard?client=<%= approvedClient.client_id %>"><img class="org-logo" alt="org logo" src="<%= approvedClient.image %>"></a>
                <% } else { %> 
                    <a class="see-more" href="/apps"><img class="more-logo" alt="see more apps" src="/images/more.svg"></a>
                <% } %> 
            <% }); %> 
        </div>
    </section>
    <section class="app-section">
        <a class="section-link" href="/info"><h2>Info</h2></a>
        <div id="info-container">
            <% user.names.forEach((info) => { %>
                <div class="info">
                    <div class="info-name">
                        Name
                    </div>
                    <div class="info-value">
                        <%=info%>
                    </div>
                </div>
            <% }); %> 
            <% user.emails.forEach((info) => { %>
                <div class="info">
                    <div class="info-name">
                        Email
                    </div>
                    <div class="info-value">
                        <%=info%>
                    </div>
                </div>
            <% }); %> 
            <% user.addresses.forEach((info) => { %>
                <div class="info">
                    <div class="info-name">
                        Address
                    </div>
                    <div class="info-value">
                        <%=info%>
                    </div>
                </div>
            <% }); %> 
        </div>
    </section>
</main>